:root {
  --clr-black: hsl(0, 0%, 8%);
  --clr-dark-grey: hsl(0, 0%, 13%);
  --clr-grey: hsl(0, 0%, 20%);
  --clr-white: white;
  --clr-neon: hsl(75, 73%, 51%);
}

body {
  display: flex;
  min-height: 100vh;
  background-color: var(--clr-black);
  place-content: center;
}
