:root {
  --clr-black: hsl(0, 0%, 8%);
  --clr-dark-grey: hsl(0, 0%, 13%);
  --clr-grey: hsl(0, 0%, 20%);
  --clr-white: white;
  --clr-neon: hsl(75, 73%, 51%);
}

body {
  display: flex;
  min-height: 100vh;
  background-color: var(--clr-black);
  place-content: center;
  align-items: center;
}

.wrapper {
  display: flex;
  background-color: var(--clr-dark-grey);
  padding: 30px 40px;
  border-radius: 15px;
  flex-direction: column;
  overflow: hidden;
  height: 611px;
  width: 384px;
}
